.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 669px;
    height: 754px; */
  }
  
  .slide {
    width: 100%;
    height: 100%;
  }
  
  .slide-hidden {
    display: none;
  }
  
  .arrow {
    position: absolute;
    /* filter: drop-shadow(0px 0px 5px #555); */
    width: 1.2rem;
    height: 1.2rem;
    color: black;
    z-index: 20;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-left {
    left: 1rem;
  }
  
  .arrow-right {
    right: 1rem;
  }
  
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .indicator {
    background-color: #04AD7D;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .indicator-inactive {
    background-color: #D9D9D9;
  }

  @media (min-width: 768px) {
    .carousel {
        width: 669px;
        height: 754px;
    }
}
  